.reg-text-block {
  margin-left: 200px;
}

.reg-text-block a {
  color: green;
  text-decoration: none;
}

@media only screen and (max-width: 600px) {
  .reg-text-block {
      margin-left: 0;
  }

  .reg-text-block p {
      font-size: 16px;
      line-height: 1.5;
      margin-bottom: 15px;
  }

  .reg-text-block a {
      color: green;
      text-decoration: none;
  }
}
