.reg-text-block {
    margin-left: 200px;
}


.reg-text-block a {
    color: green; /* Green color for links */
    text-decoration: none; /* Remove underline from links */
}



/* Additional CSS for the fourth block for mobile responsiveness */
@media only screen and (max-width: 600px) {
    .reg-text-block {
      margin-left: 0; /* Adjust margin for smaller screens */
    }
  
    .reg-text-block p {
      font-size: 16px; /* Decrease font size for smaller screens */
      line-height: 1.5; /* Adjust line height for better readability */
      margin-bottom: 15px; /* Add bottom margin for spacing between paragraphs */
    }
  
    .reg-text-block a {
      color: green; /* Green color for links */
      text-decoration: none; /* Remove underline from links */
    }
  }
  