.purple-image {
    display: flex;
    background-color: #ece5f4; /* Light purple background */
    padding: 20px;
    margin-left: 30%;
    margin-right: -15%;
}

.purple-image > div {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.purple-image img {
    width: 50px;
    height: 64px;
    margin-top: 15px;
}

.purple-image p {
    font-size: 28px;
    font-weight: bold;
    color: #430098; 
    margin-bottom: 0;
    margin-top: 0;
    margin-left: 30px;
    text-align: left;
}

.purple-image a {
    display: inline-block;
    background-color: #430098 !important;
    margin-left: 200px !important;
    margin-top: 20px !important;
    color: white; /* White text */
    padding: 10px 20px;
    text-decoration: none;
    text-align: center !important;
    transition: background-color 0.3s, color 0.3s;
}

.purple-image a:hover {
    background-color: white !important; 
    color: #430098;
}

@media (max-width: 599px) {
    .purple-image {
        flex-direction: column;
        align-items: center;
        padding: 10px; /* Adjusted padding for smaller screens */
        margin-left: 20px; /* Adjusted margin for smaller screens */
        margin-right: 20px; /* Adjusted margin for smaller screens */
    }
    
    .purple-image > div {
        margin-top: 20px; /* Adjusted margin for smaller screens */
    }
    
    .purple-image p {
        margin-left: 0; /* Reset margin for smaller screens */
        text-align: center; /* Center text */
    }

    .purple-image a {
        margin: 10px 0px !important;
        font-size: 15px !important;
    }
}
