.middle-h1 h1 {
    text-align: left;

    font-size: 55px; 
    color: #430098; 
    font-weight: bold;
}

.middle-h1 h3 {
    font-size: 28px;
    color: #430098; /* Apply the same color as h1 */
}

@media (max-width: 599px) {
    .middle-h1 {
       
        margin-top: -30%;
        
     
    }

    .middle-h1 h1 {
        width:100%;
        margin-left: -14%;
        text-align: left; 
        font-size: 30px;
        color: #430098; /* Change color for smaller screens */
        font-weight: bold;
     
    }

    .middle-h1 h3 {
        font-size: 16px; /* Adjust h3 font size for smaller screens */
        color: #430098; /* Apply the same color as h1 */
        text-align: left; 
        width:100%;
        margin-left: -14%;
       
    }


}
@media (min-width: 1025px) and (max-width: 1367px) {
    .middle-h1{
        width: 80%;
        margin-left: 20%;
    
    }
}