.support-block {
  display: flex;
  background-color: lightblue;
  height: 100px;
  width: 1000px;
  margin-left: 17%;
  position: relative;
}

.support-block picture {
  position: absolute;
  top: -20px;
  left: -40px;
}

.support-block > div {
  flex: 1;
  padding: 0px;
}

.support-block a {
  display: flex;
  justify-content: center;
  background-color: rgb(57, 127, 151) !important;
  color: rgb(255, 255, 255) !important;
  text-decoration: none !important;
  border: none !important;
  height: 100px;
  width: 200px;
  position: absolute;
  right: -50px;
  top: 35%;
  transform: translateY(-50%);
  font-size: 20px;
  text-align: center;
  line-height: 80px;
  font-weight: bold;
  border-radius: 0; 
}

.support-block h1, .support-block p {
  margin: 0;
  color: #124e76;
}

.support-block p {
  position: relative;
  left: -40px;
}

.support-block > div > div {
  margin-left: -120px; 
}

@media (max-width: 768px) {
  .support-block {
    width: calc(100% - 40px); 
    margin-left: 0; 
    height: auto; 
    flex-direction: column; 
    align-items: center; 
  }

  .support-block picture {
    position: relative; 
    top: 0;
    left: 0;
    margin-bottom: 10px; 
  }

  .support-block > div {
    padding: 10px; 
  }

  .support-block a {
    position: static; 
    margin-top: 10px; 
    width: auto; 
    height: auto; 
    transform: none; 
  }

  .support-block > div > div {
    margin-left: 0; 
  }

  .support-block p strong {
    text-align: center; 
    left: 0; 
    font-size: 16px;
  }
}

@media (max-width: 599px) {
  .support-block {
      width: calc(100% - 40px); 
      margin-left: 20px; 
      flex-direction: column; 
      align-items: center; 
      height: auto; 
  }

  .support-block picture {
      margin-bottom: 10px; 
  }

  .support-block > div {
      padding: 10px;
      text-align: center; 
  }

  .support-block a {
      position: static; 
      margin-top: 10px;
      width: auto; 
      height: auto; 
      transform: none; 
  }
}
