.reg-support {
  margin-left: 200px;
}

#support-resources {
    color: #430098;
    font-size: 40px;
  }
  


@media only screen and (max-width: 600px) {
  .reg-support {
    margin-left: 0; 
    text-align: left; 
  }

  #support-resources {
    font-size: 30px; 
  }
}
