.columns1 > div {
    display: flex;
    margin-left: 40%;
    margin-right: -30%;
    flex-direction: column;
}

.columns1 img {
    max-width: 160px; /* Add this line */
    max-height: 200px; /* Add this line */
}

.columns1 > div > div {
    order: 1;
}

.columns1 > div > .columns-img-col {
    order: 0;
}

.columns1 > div > .columns-img-col img {
    display: block;
}

@media (min-width: 900px) {
    .columns1 > div {
        flex-direction: row; /* Change to row */
        gap: 32px;
    }

    .columns1 > div > div {
        flex-grow: 1; /* Add this line */
        order: unset;
    }
}

@media (max-width: 899px) {
    .columns1 > div {
        margin-left: 0; /* Change to zero */
    }
}
