.tablist {
    display: flex;
    align-items: stretch; 
    flex-direction: row; 
    margin-left: 200px;
}

.tablist > div > div {
    flex-grow: 1; 
    height: 50px;
    padding: 20px;
    cursor: pointer;
    border: 1px solid #ccc;
    border-radius: 0px;
    margin-left: -1px;
    font-size: 20px; 
    transition: background-color 0.3s, color 0.3s;
    display: inline-block;
    position: relative;
    background-color: #f0f0f0; 
    color: #333; 
    text-align: center; 
}

.tablist > div > div:hover {
    background-color: #ccc;
    color: #430098;
}

.tablist > div > div.active {
    background-color: #ccc;
    color: #430098;
}

.tablist > div > div.active::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 4px;
    background-color: #430098;
}

.tablist div > div {
    width: 100%; 
}

.tablist div {
    display: flex;
}

.tablist > div > div::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 4px;
    background-color: transparent;
    transition: background-color 0.3s;
}

.tablist > div > div.active::after {
    background-color: #430098;
}

@media (max-width: 899px) {
    .tablist {
        margin-left: 0;
    }
    
    .tablist > div > div {
        font-size: 13px; 
    }
}

.tablist{
    display: none;
}
