/* page-header.css */

.page-header {
    position: relative;
    display: flex; 
    align-items: center; 
    width: 120%;
    background-size: cover;
    background-position: center; 
    margin-bottom: 20%;
    right: 3%;
}


.page-header::before {
    content: "";
    position: absolute;
    top: -15%;
    left: 0;
    width: 100%;
    height: 160%;
    background-image: url('https://www.ibrance.com/media_1b3aca32d83204684e9b814d5eb240a514672778b.jpeg?width=2000&format=webply&optimize=medium');
    background-size: cover;
   
    z-index: -1; /* Ensure the background stays behind other content */
}

.page-header img {
    display: none; /* Hide the image element */
}

.page-header::after {
    content: "";
    position: absolute;
    top: -20%;
    left: -15%;
    width: 65%;
    height: 170%;
    background-color: #ffffffc0; 
    z-index: 0; 

    transform: skewX(-30deg);
}

.page-header h1 {
    position: relative; 
    z-index: 1; 
    color: #430098;
    font-size: 230%;
    font-weight: normal;
    margin-right: 65%;
    margin-bottom: -5%;
    left: 3%;
    
  
}

@media screen and (min-width:1509px) and (max-width: 1600px) {
    .page-header {
        flex-direction: column; 
        width: 120%;
        margin-left: 0;
        padding: 0;
    }

    .page-header h1 {
        font-size: 150%;
        margin-left: 10%; 
        left: 0;
    }
}

@media screen and (min-width:601px) and (max-width: 1508px) {
    .page-header {
        flex-direction: column; 
        width: 120%;
        margin-left: 0;
        padding: 0;
    }

    .page-header h1 {
        font-size: 150%;
        margin-left: 22%; 
        margin-right: 45%;
    }
    .page-header::before {
        width: 100%;
    }
    .page-header::after {
        content: "";
        position: absolute;
        top: -20%;
        left: -15%;
        width: 90%;
        height: 170%;
        background-color: #ffffffc0; 
        z-index: 0; 
    
        transform: skewX(-30deg);
    }
    
}


@media screen and (max-width: 600px) {
    .page-header {
        flex-direction: column; 
        width:125%;
        
        margin-left: -17%;
        margin-bottom: 0;
    
        
    }

    .page-header h1 {
        font-size: 70%;
       
        margin-bottom: 3%;
        z-index: 1;
        
    }
    
.page-header::before {
    content: "";
    position: absolute;
    top: -5%;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('https://www.ibrance.com/media_1b3aca32d83204684e9b814d5eb240a514672778b.jpeg?width=2000&format=webply&optimize=medium');
    background-size: cover;
   
    z-index: -1; 
}
.page-header::after {
    content: "";
    position: absolute;
    top: -20%;
    left: -25%;
    width: 65%;
    height: 170%;
    background-color: #ffffffc0; 
    z-index: 0; 

    transform: skewX(-30deg);
}

   
}

@media (min-width: 768px) and (max-width: 1367px) {
    .page-header {
   
     width:100%
    }
    
  }
