.body {
    background-image: url('https://interacoesmedicamentosas.infocovid19.com.br/assets/bg.png');
    background-size: cover; /* Cover the entire background */
    background-position: center center; /* Center the background image */
    background-repeat: no-repeat; /* Prevent the image from repeating */
}

.second-interactive-cards {
    display: flex;
    flex-wrap: wrap;
    gap: 40px;
    justify-content: flex-start;
    align-items: flex-start; /* Ensure items align at the start */
}

.second-interactive-cards > div {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    border: 1px solid #ddd;
    box-shadow: 0 0 20px 10px rgba(162, 162, 253, 0.6);
    flex: 1;
    min-width: 200px;
    max-width: calc(33% - 20px);
    box-sizing: border-box;
    text-align: center;
}

.second-interactive-cards h2 {
    color: #007BFF;
}

.second-interactive-cards h4 {
    color: #525252;
    text-align: left;
}

.second-interactive-cards > div > div {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin: 5px 0;
}

#diseases,
#medicines {
    display: flex;
    flex-direction: column; /* Maintain default column direction */
    gap: 2px;
    max-height: 300px; /* Maximum height of the container */
    overflow-y: auto;
    align-items: flex-start; /* Align items at the start */
    justify-content: flex-start; /* Align content at the start */
    padding-top: 10px; /* Adjust top padding as needed */
}

#diseases::-webkit-scrollbar,
#medicines::-webkit-scrollbar {
    width: 8px;
   
}

#diseases::-webkit-scrollbar-thumb,
#medicines::-webkit-scrollbar-thumb {
    background-color: #003fe2;
    border-radius: 10px;
}

#diseases::-webkit-scrollbar-track,
#medicines::-webkit-scrollbar-track {
    background: #e0e0ff;

}
.button-list-container {
    border: 1px solid rgb(194, 194, 194); /* Customize the border style, width, and color here */
    padding-left: 4px; 
    padding-right: -4px; 
    border-radius: 10px; /* Optional: add some border radius for rounded corners */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); 
}

.disease-button,
 .medicine-button {
    display: block;
    width: 90%;
    min-height: 60px;
    background: #fff;
    color: #6d6d6d;
    border: none;
    border-bottom: 1px solid #6d6d6d;
    padding: 10px 0;
    margin-bottom: -13px;
    font-size: 20px;
    font-weight: normal;
    text-align: left;
    cursor: pointer;
    transition: background-color 0.3s, border-color 0.3s;
    border-radius: 0;
}

.disease-button,
.medicine-button {
    margin-left: 7%;
}

.disease-button:hover {
    background-color: #f8f9fa;
}
.medicine-button:hover {
    background-color: #f8f9fa;
}
.table,
.table,
th,
.table,
td {
    padding: 10px 0;
    text-align: left;
    border-bottom: 1px solid #ddd;
    font-size: 20px;
}

.medicines-table th {
    background-color: #f8f9fa;
    font-weight: bold;
}

.medicines-table tr:hover {
    background-color: #f1f1f1;
}

.search-input {
    width: 90%;
    padding: 10px;
    font-size: 20px;
    border: 1px solid #ccc;
    border-radius: 20px;
    margin-bottom: 10px;
}

.sort-container {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
    margin-bottom: 10px;
}

.sort-label {
    margin-right: 10px;
    font-size: 20px;
}

.sort-dropdown-container {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

/* Dropdown container */
.sort-dropdown {
    padding: 15px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 10px;
    background-color: #fff;
    cursor: pointer;
    transition: all 0.3s ease;
    width: 40%;
    appearance: none; /* Remove default arrow */
    background-image: url('data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTQiIGhlaWdodD0iOCIgdmlld0JveD0iMCAwIDE0IDgiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgZmlsbD0ibm9uZSI+PHBhdGggZD0iTTEgMUw3IDdMMTMgMSIgc3Ryb2tlPSIjY2NjIiBzdHJva2Utd2lkdGg9IjIiIHN0cm9rZS1saW5lY2FwPSJyb3VuZCIgc3Ryb2tlLWxpbmVqb2luPSJyYW5kIj48L3BhdGg+PC9zdmc+');
    background-repeat: no-repeat;
    background-position: right 10px center;
    padding-right: 40px; /* Ensure space for the custom arrow */
}

.disease-container,
.medicine-container {
    border: 1px solid #6d6d6d; /* Grey border */
    padding: 10px; /* Adjust padding as needed */
    border-radius: 5px; /* Optional: Add border radius for rounded corners */
}

/* Dropdown options */
.sort-dropdown option {
    padding: 100px;
    background: #ffffff;
    border: 10px solid #ddd;
    border-radius: 300px;
    font-size: 20px;
    margin-bottom: 20px !important;
}

/* Hover effect for dropdown options */
.sort-dropdown option:hover {
    background-color: #fe1100;
}

/* Focus and active states for dropdown */
.sort-dropdown:focus {
    outline: none;
    border-color: #007BFF;
    box-shadow: 0 0 0 3px rgba(0, 123, 255, 0.25);
}

.disease-button:focus,
.disease-button:active,
.medicine-button:focus,
.medicine-button:active {
    outline: none;
    background-color: inherit;
    color: inherit;
    border-color: inherit;
}

.selected-items-section {
    background-color: #ffffff;
    border-radius: 10px;
    padding: 5px;
    margin-top: 20px;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    flex-direction: column-reverse;
}

.selected-item {
    position: relative;
    background-color: #ffffff;
    color: #0000c9;
    font-weight: bold;
    border-radius: 5px;
    margin-bottom: 5px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 95%;
    box-sizing: border-box;
    box-shadow: 0 0 100px rgba(0, 0, 0, 0.1);
}

.selected-item span {
    margin-right: 80%;
    padding: 10px;
    flex-grow: 1;
    text-align: right;
}

.selected-item {
    position: relative;
    padding-right: 40px; /* Ensure space for the delete button */
    overflow: hidden; /* Hide overflow to prevent button from extending */
}

.selected-item .delete-button {
    position: absolute;
    top: -10%;
    right: 0;
    width: 30px;
    height: 40px;
    background-color: #ff4d4f;
    color: #fff;
    border-radius: 5px; /* Rounded corners for the square button */
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
}

.selected-item .delete-button::before {
    content: "\1F5D1";
    font-size: 2.5em;
}

.disease-button.selected,
.medicine-button.selected {
    font-weight: bold;
}

.disease-button.disabled {
    color: #ff0000;
}

.disease-button,
.medicine-button {
    margin-left: 0;
}

.disease-button:disabled,
.medicine-button:disabled {
    background-color: transparent; /* Remove background color */
    color: #b0b0b0; /* Change this to your desired text color */
    cursor: not-allowed;
    opacity: 1; /* Ensure the opacity is set to fully visible */
}

.disease-button.search-result {
    color: red;
}

/* Add these styles to your CSS file */
#description-text {
    width: 100%;
    max-width: 310px;
    height: 200px;
    margin-bottom: 100px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 10px;
    resize: none;
    outline: none;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    font-size: 17px;
    line-height: 1.5;
}

#description-text:focus {
    border-color: #66afe9;
    box-shadow: 0 0 5px rgba(102, 175, 233, 0.6);
}

/* Ensure the sections are always visible and have a light grey background when empty */
.selected-items-section {
    background-color: #dee0e660;
    min-height: 50px;
    max-width: 95%;
    padding-bottom: 10px;
    margin-top: 20px !important; /* Adjust the top margin as needed */
}

/* Add additional styles for when the section is not empty */
.selected-items-section:not(:empty) {
    background-color: white;
}

@media (max-width: 1024px) {
    .second-interactive-cards > div {
        min-width: 100%;
        max-width: 90%;
        margin-left: -5%;
    }

    .disease-button,
    .medicine-button {
        margin-left: 0;
    }

    .sort-container {
        flex-direction: column;
        align-items: flex-start;
    }

    .sort-label {
        margin-bottom: 5px;
    }

    .sort-dropdown {
        padding: 10px;
        font-size: 17px;
        width: 100%;
    }

    .sort-dropdown option {
        font-size: 15px;
    }

    #description-text {
        max-width: 400px;
    }
}

@media (max-width: 767px) {
    .second-interactive-cards > div {
        min-width: 100%;
        max-width: 100%;
        margin-left: -10%;
    }

    .disease-button,
    .medicine-button {
        margin-left: 0;
    }

    .sort-container {
        flex-direction: column;
        align-items: flex-start;
    }

    .sort-label {
        margin-bottom: 5px;
    }

    .sort-dropdown {
        padding: 10px;
        font-size: 17px;
        width: 100px;
    }

    .sort-dropdown option {
        font-size: 15px;
    }

    #description-text {
        max-width: 230px;
    }
}
