.purple-banner {
    background-color: #7349a8 ; /* Set background color to purple */
    color: white; /* Set text color to white */
    font-size: 25px; /* Set font size to 30px */
    font-weight: bold; /* Set font weight to bold */
    text-align: center;
    margin-left: -530px;
    width: 2200px; /* Set the width to 100% to span the entire page */
    box-sizing: border-box; /* Include padding and border in the element's total width and height */
  }
  