.purple-banner {
  position: fixed;
  bottom: 0;
  left: 32%;
  transform: translateX(-50%);
  z-index: 1000;
  cursor: pointer;
  padding: 20px;
  background-color: #7349a8;
  color: white;
  font-size: 15px;
  font-weight: bold;
  text-align: center;
  visibility: hidden;
}




@media (max-width: 899px) {
  .purple-banner {
    width: 100%; /* Set the width to 100% on smaller screens */
    max-width: none; /* Remove the maximum width limit on smaller screens */
  }
}
