main {
    list-style: none;
    margin: 0;
    padding: 0;
}

main > div {
    display: flex;
    flex-wrap: wrap;
}

.test1 {
    background-color: var(--background-color);
    margin: 16px;
    display: inline-block; /* Add display: inline-block; */
}

.test1 > div {
    display: flex;
    align-items: center;
    margin-left: 10px; /* Add margin-bottom property */
}

.test1 > div > * {
    margin-right: 16px;
}

.test1 > div > *:last-child {
    margin-right: 0;
}

.test1 > * {
    flex: 1;
}

.test1 > *:last-child {
    margin-right: 0;
}

.test1 img {
    max-width: 150px; /* Set max-width to 150px */
    max-height: 100px; /* Set max-height to 100px */
}

.test1 strong u {
    font-size: 14px; /* Set font size to 14 */
    color: #696869; /* Set font color to grey */
}

.test1 picture img {
    width: 150px; /* Set image width to 150 */
    height: 100px; /* Set image height to 100 */
}

@media (max-width: 899px) {
    .test1 {
        margin-left: 0; /* Change to zero */
    }
}
