main {
    list-style: none;
    margin: 0;
    padding: 0;
}

main > div {
    display: flex;
    flex-wrap: wrap;
}

.footer-image {
    background-color: var(--background-color);
    margin: 16px;
}

.footer-image > div {
    display: flex;
    align-items: center;
    margin-left: 270px; /* Add margin-bottom property */
}

.footer-image > div > * {
    margin-right: 16px;
}

.footer-image > div > *:last-child {
    margin-right: 0;
}

.footer-image > * {
    flex: 1;
}

.footer-image > *:last-child {
    margin-right: 0;
}

.footer-image img {
    width: 100%;
}

.footer-image strong u {
    font-size: 14px; /* Set font size to 14 */
    color: #696869; /* Set font color to grey */
}

.footer-image picture img {
    width: 150px; /* Set image width to 150 */
    height: 100px; /* Set image height to 100 */
}

@media (max-width: 899px) {
    .footer-image {
        margin-left: 0; /* Change to zero */
    }
}
